/* fonts */
@import url(font.css);

:root {
    --dark-text-color: #333;
    --text-color: #fff;
    --white: #fff;
    --text-secondary: rgb(99, 99, 99);
    --primary-color: #13314b;
    --secondary-color: #0f426f;
    --info-color: #002488;
    --dark-primary-color: #061e33;
    --dark-shade: #7a7a7a;
    --light-color: #f3f3f3a4;
    --lighter-color: #f3f3f37a;
    --transparent-white: #ffffffbe;
    --hovered: rgba(0, 0, 0, 0.103);
    --light-primary-color: #0d4679;
    --lighter-primary-color: #3977ad;
    --dark-shadow: rgba(0, 0, 0, 0.2);
    --dark-shadow-0-1: rgba(0, 0, 0, 0.1);
    --text-danger: #ae0101b8;
    --danger-color: #fd3807b8;
    --success-color: #5cb85c;
    --error-color: #d9534f;
    --warning-color: #fba51f;

    
    --transparent: transparent;
    
    /* modal widths */
    --form-modal-width: 400px;
    --modal-width: 40rem;
    
    --modal-lg-fixed: 90%;
    --modal-md-fixed: 70%;
    --modal-sm-fixed: 50%;
    --modal-lg: 90%;
    --modal-md: 70%;
    --modal-sm: 50%;
}


/* Globals */
* {
    font-family: 'PT Sans', 'san-seriff', 'Helvetica Neue', 'Arial', 'Helvetica';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

*::-webkit-scrollbar {
    display: none;
}


body {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Sidebars */
.sidebar {
    height: 100%;
    width: 78px;
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    padding: 6px 14px;
    transition: all 0.5s ease;
    z-index: 1;
}

.sidebar.active {
    width: 240px;
}

.sidebar .logo_content .logo {
    color: var(--text-color);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo {
    opacity: 1;
}

.logo_content .logo img {
    width: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
}

.sidebar #btn {
    color: var(--text-color);
    position: absolute;
    top: 6px;
    left: 50%;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    transition: all 0.5s ease;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
}

.sidebar ul li:nth-child(2) {
    margin-top: 10px !important;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 5px 5px;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li.active {
    background-color: var(--text-color);
    border-radius: 12px;
}

.sidebar ul li.active a {
    color: var(--dark-primary-color)
}

.sidebar ul li .tooltip {
    position: absolute;
    height: 35px;
    width: 122px;
    background: var(--primary-color);
    color: var(--text-color);
    box-shadow: 0 5px 10px var(--dark-shadow);
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    transition: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.sidebar ul li:hover .tooltip {
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
    z-index: 9999;
}

.sidebar ul li input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: var(--dark-primary-color);
    padding-left: 50px;
    font-size: 18px;
    color: var(--text-color);
}

.sidebar ul li .bx-search { /*search icon*/
    position: absolute;
    z-index: 1;
    color: var(--text-color);
    font-size: 22px;
    transition: all 0.5s ease;
}

.sidebar ul li .bx-search:hover {
    background: var(--text-color);
    color: var(--dark-primary-color);
}

.sidebar ul li a {
    color: var(--text-color);
    display: flex;
    align-items: center;
    text-decoration: none;  
    transition: all 0.4s ease; 
    border-radius: 12px;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    color: var(--dark-primary-color);
    background: var(--text-color);
    font-size: 14pt;
}

.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

.sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar .profile_content {
    position: absolute;
    color: var(--text-color);
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar .profile_content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    transition: all 0.5s ease; 
    background: none;
}

.sidebar.active .profile_content .profile {
    background: var(--dark-primary-color);
}

.profile_content .profile .profile_details {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile_details {
    opacity: 1;
    pointer-events: auto;
}

.profile .profile_details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile_details .name_job {
    margin-left: 10px;
}

.profile .profile_details .name {
    font-size: 15px;
    font-weight: 400;
}

.profile .profile_details .job {
    font-size: 12px;
}

.profile #log_out {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.5s ease;
    background: var(--dark-primary-color);
    cursor: pointer;
}

.sidebar.active .profile #log_out {
    left: 88%;
    background: none;
}


/* Main */
.main {
    position: absolute;
    height: 100%;
    overflow: auto;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
    z-index: 0;
    background-color: var(--lighter-color);
}

.sidebar.active ~ .main {
    width: calc(100% - 240px);
    left: 240px;
}

.sidebar.active ~ .main .topbar {
    width: calc(100% - 240px);
}

.main-content {
    position: relative;
    width: 100%;
}

/* topbar */

.topbar {
    width: calc(100% - 78px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0px 1px 10px 1px var(--hovered);
    margin-bottom: 20px;
    height: 80px;
    position: fixed;
    z-index: 1;
    background-color: var(--text-color);
    transition: all 0.5s ease;
}

.brand {
    position: relative;
    left: 38px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
}

.brand img {
    width: 20px
}

.brand .sm-menu {
    display: none;
}

.topbar .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation .message, .navigation .notification, .navigation .user {
    margin-inline: 10px;
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.navigation .user {
    border-radius: 50%;
}

.navigation .message, .navigation .notification {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}

.navigation .message li, .navigation .notification li {
    border-bottom: 2px solid var(--dark-shadow);
    padding-block: 5px;
}

.navigation .message li:last-child, .navigation .notification li:last-child {
    border-bottom: none;
}

.navigation .message li a, .navigation .notification li a {
    padding: 8px;
    display: flex;
    flex-direction: column;
    height: 60px;
}

.navigation .sub-dropdown .details div {
    display: flex;
    justify-content: space-between;
}

.navigation .sub-dropdown .details p {
    padding-bottom: 10px;
}

.navigation .no-info {
    text-align: center;
    padding: 5px
}

.navigation i {
    font-size: 25pt;
    color: var(--dark-text-color);
}

.navigation .count {
    position: absolute;
    background-color: var(--dark-primary-color);
    color: var(--text-color);
    border-radius: 30%;
    top: -12px;
    right: 0;
    padding: 3px;
    width: 20px;
    font-size: 9pt;
    text-align: center;
}

.user .user-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.navigation .sub-dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 155%;
    right: 0;
    width: 250px;
    background-color: var(--text-color);
    border-radius: 5px;
    display: none;
    box-shadow: 0 2px 8px var(--hovered);
}

.navigation .sub-dropdown .details {
    color: var(--dark-text-color)
}

.navigation .user .sub-dropdown ul {
    display: flex;
    height: 80px;
    padding-top: 40px;
    padding-inline: 15px;
    font-size: 13pt;
    justify-content: space-between
}

.navigation .dropdown-head {
    display: flex;
    flex-direction: column;
    height: 120px;
    background-color: var(--primary-color);
    border-radius: 5px 5px 0px 0px;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    padding-inline: 10px;
    padding-top: 70px;
    font-size: 16pt;
    font-weight: bolder;
    cursor: auto;
}

.navigation .dropdown-head h3 {
    text-align: center;
}

.navigation .dropdown-head img {
    border-radius: 50%;
    box-shadow: 0 1px 5px var(--dark-text-color);
    margin-top: 20px
}

.navigation .sub-dropdown.active {
    display: block;
}

.navigation .sub-dropdown ul li {
    list-style: none;
}

.user .sub-dropdown img {
    height: 100px;
    width: 100px;
}

.user .sub-dropdown li {
    list-style: none;
}

.content {
    margin-inline: 10px;
    opacity: 1;
    z-index: 0;
}

.users .card {
    color: var(--dark-text-color)
}

.users .card:hover {
    background-color: var(--light-primary-color);
    color: var(--text-color);
}

.users .card *:nth-child(even) {
    text-align: right;
}

.users .card .add {
    cursor: pointer;
}

.overview .grid-3 {
    grid-template-columns: 20px calc(100% - 80px) 60px !important
}

.grade .grid-2 {
    grid-template-columns: 85% 15% !important
}

.grade .grid-3 {
    grid-template-columns: 4% 69% 27% !important
}

.account .wallet.grid {
    grid-template-columns: calc(100% - 85px) 85px !important
}

.sch-courses .card {
    overflow: hidden;
}


.piechart {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transition: 0.5s all ease;
}

.tool-tab {
    padding: 10px;
    top: 0;
    right: -50%;
    background-color: var(--white);
    height: 100%;
    transition: 0.5s all ease;
    width: 0;
}

.tool-tab.active {
    width: 200px;
    right: 0;
}

.tool-tab .edit {
    margin-bottom: 5px
}

.stats .underlings .views {
    transition: .5s all ease;
}

.selectable {
    user-select: auto;
}

.payroll div input, .user-payments div input, .mbox div input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: var(--light-color);
    padding-left: 50px;
    font-size: 18px;
}

.payroll .bx-search, .user-payments .bx-search, .mbox .bx-search {
    z-index: 0;
    font-size: 20px;
    padding-left: 15px;
    margin-top: 2.8px;
    color: var(--hovered)
}

.content .message.grid {
    grid-template-columns: 1fr .5fr;
}

.custom-textarea {
    resize: none;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 12pt;
}

.sm-block {
    display: none;
}

.message .m-controls {
    border-bottom-left-radius: 12px;
    border-top: 1px solid var(--light-color);
}

.message .mbox {
    transition: 0.5s ease all;
}

.message .mbox .v-scroll div.grid-3 {
    grid-template-columns: 40px 1fr 35px;
}

.feedback .time {
    bottom: 0;
    right: 0;
    border-start-end-radius: 20px;
    border-start-start-radius: 20px;
}

.recipient {
    height: 50px; 
    width: 50px; 
    border-radius: 50%;
    outline: none
}

.recipient-user {
    justify-self: flex-end;
    padding-right: 10px;
}

.m-users .chips {
    display: inline-block;
    padding: 0 12px;
    line-height: 30px;
    background-color: var(--light-color);
    margin-top: 10px;
}

.m-users .chips:not(:first-child):not(:last-child) {
    margin-inline: 3px;
}

.m-users .chips input {
    display: none;
}

.m-users .chips label {
    font-size: 10pt;
}

.m-users .chips i {
    margin-left: 5px;
    margin-top: 2.5px;
}

.statistics.grid-4 {
    grid-template-columns: repeat(4, 25%) !important;
    grid-template-rows: auto;
    grid-gap: 0;
}

.statistics .blocks.card:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 5;
}

.statistics .blocks.card:nth-child(2) {
    /* grid-area: rs / cs / span r / span c */
    grid-area: 2 / 1 / span 2 / span 3;
}

.statistics .blocks.card:nth-child(3) {
    grid-area: 2 / 4 / span 1 / span 1;
}

.statistics .blocks.card:nth-child(4) {
    grid-area: 3 / 4 / span 1 / span 1;
}

.statistics .blocks.card:nth-child(5) {
    grid-column: 1 / 3;
}

.statistics .blocks.card:nth-child(6) {
    grid-column: 3 / 5;
}

.dropdown-toggle {
    transition: all .2s ease;
    cursor: pointer;
}

.accordion .head {
    z-index: 1;
}

.accordion .body {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

.accordion .body.active {
    margin-top: 10px;
}

.cxgrid-3.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.cxgrid-3 .full-width {
    grid-column: 2 / 4;
}

.user-profile-card img {
    width: 250px;
    height: 250px;
}

.class-card {
    width: 300px;
}

.class-card .class-course *:nth-child(odd) {
    justify-self: flex-start;
}

.class-card .class-course *:nth-child(even) {
    justify-self: flex-end;
}

.class-card .notice {
    top: 15px;
    right: 15px;
}

.chat.grid {
    grid-template-columns: 1fr;
    grid-template-rows: 73vh 50px;
}

/* media screen */
@media (max-width: 1131px) {
    .piechart {
        width: 100px;
        height: 100px;
    }

    .payments.grid {
        grid-template-columns: 60% 40%;
    }
    
    .message .mbox .v-scroll .tag {
        font-size: 60%;
    }

    .content .message.grid {
        grid-template-columns: 1fr .8fr;
    }
}

@media (max-width: 1016px) {
    .piechart {
        width: 200px;
        height: 200px;
    }
    .users.grid-4 {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .account.card, 
    .account .payments.grid, 
    .stats.grid {
        grid-template-columns: 1fr
    }

    .statistics .blocks.card:nth-child(2) {
        grid-area: 2 / 1 / span 2 / span 4;
    }

    .statistics .blocks.card:nth-child(3) {
        grid-area: 4 / 1 / span 1 / span 2;
    }

    .statistics .blocks.card:nth-child(4) {
        grid-area: 4 / 3 / span 1 / span 2;
    }
    
    .cxgrid-3.grid-3 {
        grid-template-columns: 100% !important;
    }

    .cxgrid-3 .full-width {
        grid-column: 1 / 2;
    }
}

@media (min-width: 768px) {
    .message .message-box {
        margin-right: 0 !important;
        border-bottom-right-radius: 0;
    }
    
    .message .message-box .header {
        border-top-right-radius: 0;
    }
    
    .message .mbox {
        margin-left: 0 !important;
        border-bottom-left-radius: 0;
    }
    
    .message .mbox .header {
        border-top-left-radius: 0;
    }

    .message .m-users {
        border-bottom-right-radius: 0;
    }    
}

@media (max-width: 768px) {
    .sidebar {
        width: 0px;
        left: -100%;
    }

    .sidebar.active {
        width: 240px;
        left: 0;
    }

    .sidebar.active ~ .main {
        width: 100%;
        left: 0;
    }

    .sidebar.active ~ .main .topbar {
        width: 100%;
    }
     
    .main {
        width: 100%;
        left: 0;
    }

    .brand {
        position: relative;
        left: 25px;
    }

    .brand .sm-menu {
        display: block;
        font-size: 20pt;
        margin-right: 10px;
    }

    .topbar {
        width: 100%;
    }

    .topbar .icon {
        height: 25px;
    }

    .topbar .logo_name {
        font-size: 20pt;
        font-weight: bolder;
        color: var(--dark-primary-color)
    }

    .navigation .message .sub-dropdown {
        right: -100px;
    }

    .navigation i {
        font-size: 19pt;
    }

    .users.grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    .navigation .message, .navigation .notification, .navigation .user {
        margin-inline: 5px;
    }

    .message.grid {
        display: block !important;
        position: relative !important;
        overflow: hidden;
        width: 100%;
    }

    .message .mbox {
        position: absolute !important;
        top: 0;
        right: -100%;
        margin-inline: 0;
        width: 0;
    }

    .message .mbox.active {
        right: 10px;
        width: 90%
    }

    .message .bx-menu {
        font-size: 14pt;
        margin-left: 8px;
    }

    .sm-block {
        display: block;
    }

    .message .title {
        font-size: 13pt;
    }

    .message .switchers {
        font-size: 14pt;
    }

    .message .slider:before {
        height: 18px !important;
        width: 18px !important;
        left: 2px !important;
        bottom: 3px !important;
    }

    .message .switch-input {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 24px;
    }

    .message .switch-container {
        margin-inline: 2px;
    }

    .message .switch-input input:checked + .slider:before {
        -webkit-transform: translateX(17px);
        -ms-transform: translateX(17px);
        transform: translateX(17px)
    }

    .message .m-controls {
        border-bottom-right-radius: 12px;
    }

    .feedback .feedmsg p {
        padding-bottom: 40px;
    }

    .statistics.grid-4 {
        display: block;
    }
}

@media (max-width: 560px) {
    .payroll .head.flex, .user-payments .head.flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .payroll .relative, .user-payments .relative {
        margin-top: 20px;
        width: 100%;
    }

    .class-card {
        width: 250px;
    }

    .staff-class.font-5 {
        font-size: 14pt;
    }
}

@media (max-width: 436px) {
    .users.grid-4 {
        grid-template-columns: 1fr;
    }

    .grade .grid-2 {
        grid-template-columns: 80% 20% !important
    }

    .grade .grid-3 {
        grid-template-columns: 5% 45% 50% !important
    }
}

@media (max-width: 378px) {
    .account .amount {
        font-size: 85%;
    }

    .account .sync {
        font-size: 100%;
    }

    .account .set-amount, .account .balance {
        font-size: 60%;
    }

    .account .wallet.grid {
        grid-template-columns: calc(100% - 60px) 60px !important
    }

    .stats .underlings .views {
        flex-direction: column;
        line-height: 35px;
    }
}

@media (max-width: 334px) {
    .navigation .message .sub-dropdown {
        right: -120px;
    }

    .navigation .notification .sub-dropdown {
        right: -65px;
    }

    .message .mbox .v-scroll h5 {
        font-size: 60%;
    }
    
    .message .mbox .v-scroll p {
        font-size: 60%;
    }
    
    .class-card {
        width: 170px;
    }

    .class-card a {
        padding-inline: 2rem;
    }

    .staff-class {
        font-size: 15pt !important;
    }

    .request-class {
        padding-inline:0 !important;
    }
}

@media (max-width: 288px) {
    .sch-courses h4 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 75%;
    }

    .message .mbox .v-scroll div.grid-3 {
        grid-template-columns: 40px 1fr 25px;
    }

    .message .mbox .v-scroll .tag {
        padding-inline: 7px !important;
    }
}